.statistics {
  margin-bottom: 30px;
  background-color: red;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 237, 237);
}
.title {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 500;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  /* background-color: green; */
  outline: 1px solid grey;
}
.label {
  font-size: 12px;
  margin-bottom: 5px;
}
.percentage {
  font-weight: bold;
}
